@model LocaLINK.Service_Provider

@{
    ViewBag.Title = "Worker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <style>
        #map {
            height: 890px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <script>
        var map;
        var ajaxRequest;
        var plotlist;
        var plotlayers = [];

        // Init Open Street Maps
        function initmap() {
            // set up the map
            map = new L.Map('map');
            var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib = 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
            var osm = new L.TileLayer(osmUrl, { minZoom: 2, maxZoom: 19, attribution: osmAttrib });
            map.setView(new L.LatLng(48.420296, 9.964151), 15);
            map.addLayer(osm);

            var marker = L.marker([48.420296, 9.964151]).addTo(map);
            marker.bindPopup("<b>Botanischer Garten</b><br>is here").openPopup();
        }

        initmap();
    </script>
</body>
</html>


